/* 遮罩 黑色半透明 */
.bg-dialog{
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  width: 100%;
  background: rgba(0,0,0,.5);
}
/* 遮罩 全透明 */
.bg-dialog-none{
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  width: 100%;
  background: rgba(0,0,0,0);
}

/* 白色弹框 pop-box*/
.J-pop-box{
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color:#fff;
}
.J-pop-box-t{
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color:#fff;
}
.J-pop-hd{
  height: 43px;
  padding:0 15px;
  font-size: 16px;
  text-align: left;
  line-height: 43px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.J-pop-hd h2{
  font-size: 16px;
}
.J-pop-close{
  position: absolute;
  top:0;
  right: 0;
  width:40px;
  height: 40px;
  font-size: 24px;
  color: #999;
  line-height: 44px;
  text-align:center;
}
.J-pop-bd{
  padding:10px 15px;
  text-align: center;
}
.J-pop-button{
  font-size: 16px;
  line-height: 43px;
  border-top: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.J-pop-button>span{
  display: block;
  -webkit-box-flex:1;
            -ms-flex:1;
                flex:1;
  text-align: center;
  border-left: 1px solid #ebebeb;
}
.J-pop-button>span:first-child{
  border-left: none;
  color:#f60;
}

/*黑色弹框*/
.J-pop-box-b{
  background: rgba(0,0,0,.7);
  color: #fff
}