.folder-title-fold{
    background-color: #f8f8f8;
}
.folder-title-unfold{
    background-color: #F8F8F8;
}
.folder-content {
    margin: 0;
    transition: height .5s;
    -webkit-transition: height .5s;	/* Safari 和 Chrome */
}
.folder-content *{
    padding: 0;
    margin: 0;
}
.folder-content-fold{
    display: none;
}
.folder-content-unfold{
    display: block;
    overflow: hidden;
}